@media print{
	.pvtAggregator, .pvtRows, .pvtVals, .pvtUnused, .pvtCols{
		display:none;
	}
	.pvtRendererArea{
		display:block;
	}
/*
  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
*/
}
.navbar-brand{
	padding-top:.5vh;
}
.navbar{
	position: -webkit-sticky;
}
#doitLogo{
	width:100%;
	height: auto;
	max-width: 50vw;
}
#botones .legacy button{
	width:300px;
	white-space:normal;
	height:4em;
}


.pvtFilteredAttribute .pvtAttr{
	background-color:#c3cccc !important; 
}

.box-section{
	padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
	/*background: rgb(255 255 255 / 90%);*/
	background: white;
    margin-left: 10px;
	margin-right: 10px;
	margin-bottom:10px;
	padding:20px;
}
body{
	/*background: rgb(15 58 95);*/
	/*background-image: url(../../images/cherry/background.jpg);*/
	/*background-repeat: no-repeat;
	background-size: cover;*/
}

.btn-sad {
  color: #fff;
  background-color: #7e706d;
  border-color: #625855;
}

.btn-sad:hover {
  color: #fff;
  background-color: #413939;
  border-color: #2e2828;
}
.ui-autocomplete-loading { 
	background:url('http://doit.foxconn.com/andon/v2/images/bins/loader.gif') right/100px no-repeat;
}